:root {
    --background: #000000;
    --primaria: #202020;
    --secundaria: #ffffff;
    --detalhes: #454545;
    --body: #F7F7F7;
    --header: #303030;
    --texto_body: #000000;
    --texto_header: #F7F7F7;
}

.userPic {
    margin-top: 4%;
    display: grid;
    place-items: center;
}

.menu {
    padding: 10px;
    margin-top: 5%;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

}

.menu li {
    margin-bottom: 15px;
    border-bottom: 1px solid #F7F7F7;
    padding-bottom: 15px;
    font-size: 18px;
}

.borda-inf {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #F7F7F7;
}

.menu li:last-child {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
}

.menu li a {
    text-decoration: none;
    color: #F7F7F7;
}

.btnAcervo {
    width: 8%;
    margin-right: 4%;
}

.btnRandom {
    width: 9%;
    margin-right: 3%;
}

.btnBackup {
    width: 9%;
    margin-right: 3%;
}

.btnConfig {
    width: 9%;
    margin-right: 3%;
}

.btnInfo {
    width: 8.5%;
    margin-right: 3.5%;
}