:root {
    --background: #000000;
    --primaria: #202020;
    --secundaria: #ffffff;
    --detalhes: #454545;
    --body: #303030;
    --header: #000000;
    --text: #F7F7F7;
    --sec: #a5a5a5;
}

body {
    background-color: #000000;
    font-family: 'Quicksand', sans-serif;
    position: relative;
}

.red {
    border: 0.15rem solid rgba(255, 0, 0, 0.5);
    border-radius: 10px;
}

.blue {
    border: 0.15rem solid rgba(17, 0, 255, 0.5);
    border-radius: 10px;
}

.thisContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.pad {
    height: 90vh;
    width: 100vw;
    margin-top: 5%;
}

.grid {
    display: grid;
    place-items: center;
}

.floating-btn {
    width: 20%;
    height: 10%;
    background-color: #202020;
    position: fixed;
    bottom: 4%;
    left: 10%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
} */

select {
    background-color: #202020;
    color: var(--secundaria);
    border: #ccc;
    border-bottom: 1px solid #eeeeee70;
    font-size: 1.25rem;
}

select optgroup {
    appearance: none;
    font-size: 0.75rem;
}

.center {
    display: flexbox;
    align-items: center;
    justify-content: center;
}

.navbar {
    position: relative;
}

.master-block {
    display: block;
}

.dropdown-menu li {
    position: relative;
}

.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}

.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}

.dropdown-menu>li:hover>.dropdown-submenu {
    display: block;
}

h5 {
    margin-top: 2%;
    margin-bottom: -4%;
    font-size: 18px;
}

.card {
    margin-bottom: 5%;
    background-color: #000000;
    color: #e7e7e7;
}

.form-text {
    color: #e7e7e7;
    margin-bottom: 5%;
    margin-top: 3%;
    opacity: 75%;
}

.card-body {
    margin-top: -5%;
}

.input-text::placeholder {
    color: #e7e7e7;
    opacity: 50%;
}

.input-text {
    color: #e7e7e7;
    opacity: 80%;
}

.button {
    color: var(--bs-white);
    background-color: #303030;
}

.card select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 15px;
}